@font-face {
    font-family: 'fen-icon';
    src:    url('fonts/fen-icon.eot?7apqtz');
    src:    url('fonts/fen-icon.eot?7apqtz#iefix') format('embedded-opentype'),
        url('fonts/fen-icon.ttf?7apqtz') format('truetype'),
        url('fonts/fen-icon.woff?7apqtz') format('woff'),
        url('fonts/fen-icon.svg?7apqtz#fen-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-fen-"], [class*=" i-fen-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fen-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.i-fen {
    font-size: 32px;
}
.i-fen-xl {
    font-size: 48px;
}
.i-fen-logo {
    font-size: 80px;
}

.i-fen-en .path1:before {
    content: "\e91e";
    color: rgb(64, 112, 182);
}
.i-fen-en .path2:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-en .path3:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-en .path4:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-en .path5:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-en .path6:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-en .path7:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-en .path8:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-en .path9:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-en .path10:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-en .path11:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-es .path1:before {
    content: "\e929";
    color: rgb(238, 191, 49);
}
.i-fen-es .path2:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-es .path3:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(202, 34, 40);
}
.i-fen-es .path4:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path5:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(166, 25, 50);
}
.i-fen-es .path6:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path7:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(166, 25, 50);
}
.i-fen-es .path8:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(166, 25, 50);
}
.i-fen-es .path9:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path10:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path11:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path12:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path13:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path14:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path15:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path16:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path17:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path18:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path19:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path20:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path21:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path22:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path23:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path24:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path25:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path26:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path27:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path28:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(166, 25, 50);
}
.i-fen-es .path29:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(166, 25, 50);
}
.i-fen-es .path30:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(166, 25, 50);
}
.i-fen-es .path31:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path32:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path33:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path34:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path35:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path36:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path37:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path38:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path39:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path40:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path41:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path42:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path43:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path44:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path45:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path46:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path47:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path48:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path49:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path50:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path51:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path52:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path53:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path54:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(197, 197, 197);
}
.i-fen-es .path55:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path56:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path57:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path58:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path59:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path60:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(210, 110, 163);
}
.i-fen-es .path61:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path62:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path63:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path64:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path65:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path66:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path67:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path68:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path69:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path70:before {
    content: "\e96e";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path71:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path72:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path73:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(248, 230, 173);
}
.i-fen-es .path74:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path75:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path76:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path77:before {
    content: "\e975";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path78:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path79:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path80:before {
    content: "\e978";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path81:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(2, 0, 0);
}
.i-fen-es .path82:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(2, 0, 0);
}
.i-fen-es .path83:before {
    content: "\e97b";
    margin-left: -1em;
    color: rgb(2, 0, 0);
}
.i-fen-es .path84:before {
    content: "\e97c";
    margin-left: -1em;
    color: rgb(2, 0, 0);
}
.i-fen-es .path85:before {
    content: "\e97d";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path86:before {
    content: "\e97e";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path87:before {
    content: "\e97f";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path88:before {
    content: "\e980";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path89:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(59, 105, 176);
}
.i-fen-es .path90:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path91:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path92:before {
    content: "\e984";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path93:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path94:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path95:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path96:before {
    content: "\e988";
    margin-left: -1em;
    color: rgb(65, 114, 179);
}
.i-fen-es .path97:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path98:before {
    content: "\e98a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path99:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(202, 172, 40);
}
.i-fen-es .path100:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path101:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path102:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path103:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(80, 142, 110);
}
.i-fen-es .path104:before {
    content: "\e990";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.i-fen-es .path105:before {
    content: "\e991";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path106:before {
    content: "\e992";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-es .path107:before {
    content: "\e993";
    margin-left: -1em;
    color: rgb(195, 7, 48);
}
.i-fen-aacsb:before {
    content: "\e91b";
}
.i-fen-acreditacion:before {
    content: "\e91c";
}
.i-fen-amba:before {
    content: "\e91d";
}
.i-fen-facebook:before {
    content: "\e916";
}
.i-fen-instagram:before {
    content: "\e917";
}
.i-fen-linkedin:before {
    content: "\e918";
}
.i-fen-twitter:before {
    content: "\e919";
}
.i-fen-youtube:before {
    content: "\e91a";
}
.i-fen-logo-fen:before {
    content: "\e915";
}
.i-fen-diploma:before {
    content: "\e90f";
}
.i-fen-cv:before {
    content: "\e910";
}
.i-fen-dni:before {
    content: "\e911";
}
.i-fen-download:before {
    content: "\e912";
}
.i-fen-master:before {
    content: "\e913";
}
.i-fen-titulo:before {
    content: "\e914";
}
.i-fen-ball:before {
    content: "\e90c";
}
.i-fen-court_icon:before {
    content: "\e90d";
}
.i-fen-shirt:before {
    content: "\e90e";
}
.i-fen-request:before {
    content: "\e909";
}
.i-fen-add:before {
    content: "\e90a";
}
.i-fen-import:before {
    content: "\e90b";
}
.i-fen-payments:before {
    content: "\e904";
}
.i-fen-salary:before {
    content: "\e905";
}
.i-fen-alert:before {
    content: "\e906";
}
.i-fen-documents:before {
    content: "\e907";
}
.i-fen-employed-list:before {
    content: "\e908";
}
.i-fen-step-two:before {
    content: "\e901";
}
.i-fen-step-three:before {
    content: "\e900";
}
.i-fen-step-four:before {
    content: "\e902";
}
.i-fen-step-one:before {
    content: "\e903";
}

